<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formCategory="ngForm" (ngSubmit)="save()">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input  [(ngModel)]="user.usuario" required name="form" minlength="1" autocapitalize="words" type="text" autofocus="true"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="user.contrasenia" required name="form" minlength="1" autocapitalize="words" type="text" autofocus="true"></ion-input>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            expand="block"
            color="primary"
            style="text-transform: none !important;"
            [disabled]="formCategory.invalid"
          >
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
