<ion-header>
  <ion-toolbar>
    <ion-title>form1</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <form #formCategory="ngForm" (ngSubmit)="save()">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Producto</ion-label>
      <ion-input  [(ngModel)]="form1.cat" required name="form" minlength="1" autocapitalize="words" type="text" autofocus="true"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="form2.name" required name="form" minlength="1" type="number" autofocus="true"></ion-input>
    </ion-item>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            expand="block"
            color="primary"
            style="text-transform: none !important;"
            [disabled]="formCategory.invalid"
          >
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> -->

<ion-content>
  <ion-label position="floating">Producto</ion-label>
  <ion-input [(ngModel)]="cat" required name="form" minlength="1" autocapitalize="words" type="text" autofocus="true"></ion-input>

  <ion-label position="floating">Precio</ion-label>
  <ion-input [(ngModel)]="name" required name="form" minlength="1" type="number" autofocus="true"></ion-input>

  <ion-button type="submit" expand="block" color="primary" style="text-transform: none !important" (click)="save()"> Save </ion-button>
</ion-content>
